# Server name
SERVER_NAME=verivote-blockchain-node

# Network Variables [ gRPC Proposal Listener Configuration ]
CONNECTION_GRPC_PROPOSAL_LISTENER_NETWORK=tcp
CONNECTION_GRPC_PROPOSAL_LISTENER_PORT=9000

# Network Variables [ gRPC Submit Listener Configuration ]
CONNECTION_GRPC_SUBMIT_LISTENER_NETWORK=tcp
CONNECTION_GRPC_SUBMIT_LISTENER_PORT=9001

# Network Variables [ gRPC Administrator Commands Listener Configuration ]
CONNECTION_GRPC_ADMIN_COMMANDS_LISTENER_NETWORK=tcp
CONNECTION_GRPC_ADMIN_COMMANDS_LISTENER_PORT=9010

# Network Variables [ REST Explorer Listener Configuration ]
CONNECTION_REST_EXPLORER_LISTENER_PORT=9100
CONNECTION_REST_EXPLORER_LISTENER_ENDPOINT=/explorer

# Network Variables [ Unicast Block Event Configuration ]
# Addresses are Docker Compose service names. Use 127.0.0.1 when running outside Docker.
CONNECTION_UNICAST_BLOCK_EVENT_PROTOCOL=http
CONNECTION_UNICAST_BLOCK_EVENT_ADDRESS=service-server
CONNECTION_UNICAST_BLOCK_EVENT_PORT=8080
CONNECTION_UNICAST_BLOCK_EVENT_ENDPOINT=/unicast/notification/new-block

# Network Variables [ Unicast Pending Event Configuration ]
CONNECTION_UNICAST_PENDING_EVENT_PROTOCOL=http
CONNECTION_UNICAST_PENDING_EVENT_ADDRESS=service-server
CONNECTION_UNICAST_PENDING_EVENT_PORT=8080
CONNECTION_UNICAST_PENDING_EVENT_ENDPOINT=/unicast/notification/expired-pending

# System Variables [ Buffered Channel Size Configuration ]
SYSTEM_GRPC_PROPOSAL_CHANNEL_BUFFER_SIZE=512
SYSTEM_GRPC_SUBMIT_CHANNEL_BUFFER_SIZE=2048
SYSTEM_PENDING_TRANSACTION_CHANNEL_BUFFER_SIZE=1024
SYSTEM_PENDED_PROPAGINATE_CHANNEL_BUFFER_SIZE=128
SYSTEM_BLOCK_PROPAGINATE_CHANNEL_BUFFER_SIZE=128
SYSTEM_BLOCK_STORE_CHANNEL_BUFFER_SIZE=128

# System Variables [ Validator & Storer Configuration ]
SYSTEM_BLOCKCHAIN_STORE_BASE_DIR=./
SYSTEM_BLOCKCHAIN_STORE_BLOCK_DIR=blocks

# System Variables [ Time units ]
SYSTEM_NANO_SECOND=1
SYSTEM_MICRO_SECOND=1000
SYSTEM_MILLI_SECOND=1000000
SYSTEM_SECOND=1000000000
SYSTEM_MINUTE=60000000000
SYSTEM_HOUR=3600000000000
SYSTEM_DAY=86400000000000

# System Variables [ Proposal Internal Timer Configuration ]
SYSTEM_PROPOSAL_DURATION_INTERVAL_UNIT=60000000000

# System Variables [ Blockchain Parameters Configuration ]
SYSTEM_BLOCK_INTERVAL_TIME_DURATION=30
SYSTEM_BLOCK_INTERVAL_TIME_UNIT=60000000000
SYSTEM_BLOCK_TRANSACTION_SIZE=5000

# System Variables [ Pending Internal Timer Configuration ]
SYSTEM_PENDING_RESET_INTERVAL_DURATION=0
SYSTEM_PENDING_INTURRUPT_INTERVAL_DURATION=5
SYSTEM_PENDING_CLOSE_INTERVAL_DURATION=10
SYSTEM_PENDING_INTERVAL_TIME_UNIT=1000000000
